body {
  background-image: linear-gradient(#FDC2FF, #AAA1FF);
  background-color: #FDC2FF;
  color: #FDC2FF;
}

header {
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    text-align: center;
    padding: 5px;
    background-color: #AAA1FF;
    color: #CFF4FF;
    border: 3px dotted violet;
}

h1, h2, h3{
    color: #CFF4FF;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
  margin: 5px 0;
}

caption{
   font-size: 1.5em;
   font-weight: bold;
   color: #CFF4FF;
   margin-bottom: 5px;
}

main {
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    padding: 10px;
    border: 3px dotted grey;
}

table {
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    padding: 10px;
    margin: 20px auto;
    border: 3px solid violet;
    text-align: center;
}

th, td {
    padding: 0 10px;
}

.float-container
{
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    width: 20%;
    background-color: #AAA1FF;
    border: 3px dotted violet;
    padding: 10px;
}

mark {
  background-color: #AAA1FF;
  color: #FFDEA1;
  padding: 0 3px;
  border-radius: 3px;
}


/* goals bullets */
.bullet-points{
  list-style: none;
  padding-left: 0;
}

.bullet-points li {
    background-size: 20px 20px;
    padding-left: 30px;
    margin-bottom: 10px;
}



/* link hovering */
a {
  color: #FFDEA1;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #FFDEA1;
  text-decoration: underline;
}



.main-content {
  width: 75%;
}

.page-wrapper {
  display: flex;
  gap: 10px;
  margin: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  background-color: #AAA1FF;

}

/* form style */
form {
  border: 3px dotted violet;
  padding: 15px;
  border-radius: 10px;
  background-color: #AAA1FF;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

input[type="submit"] {
  background-color: #CFF4FF;
  color: white;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #FFDEA1;
}


footer {
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  text-align: center;
   padding: 5px;
  background-color: #AAA1FF;
  color: #CFF4FF;
  border: 3px dotted grey;
}
